<div class="property-card">
    <img src="https://cdn.pixabay.com/photo/2016/11/29/03/53/house-1867187_960_720.jpg"/>

    <div class="pad1 refPropertyCard">
        <p>Rennes</p>
        <p>Ref: Wsfe273</p>
    </div>

    <div class="pad1 infoListContainer">
        <span class="badge">Maison</span>
        <span class="badge">4 pieces</span>
        <span class="badge">180m2</span>
    </div>

    <div class="pad1 bottomPropertyCard flex sBetween">
        <a href="#"><p class="cPrimary ">Détails</p></a>
        <p>250K€</p>
    </div>
</div>