<div class="heroBanner">
    <img src="https://wallpapers.com/images/featured/x1yu28g8twzle26l.jpg"/>
    <div class="bottomContentHeroBanner container">
        <form class="flex fullW">
            <select>
                <option value="">Type de bien</option>
                <option value="">Appartement</option>
                <option value="">Maison</option>
            </select>
            <input type="text" placeholder="Ville..."/>
            <input type="number" placeholder="Prix max"/>
            <input type="submit" class="btnPrim" value="Rechercher"/>    
        </form>
    </div>
</div>